
@{
    ViewData["Title"] = "News";
    Layout = "_NewsIndex";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-root></app-root>
    
</div><script src="runtime-es5.8f24ffed1c06a6510470.js"  nomodule></script><script src="runtime-es2015.ca84bb782683800d794b.js"  type="module"></script><script src="polyfills-es5.4d0e6fec21621d67bddf.js"  nomodule></script><script src="polyfills-es2015.48e56281dbb5e4cc2654.js"  type="module"></script><script src="main-es5.d747e5f61aea841a79c7.js"  nomodule></script><script src="main-es2015.e9f8e0711842cb8b971a.js"  type="module"></script><link rel="stylesheet" href="styles.b98c558e91e1a6dad902.css" >