<div class=" box-header with-border">
  <input
    [(ngModel)]="searchText"
    placeholder="search text goes here"
    class="form-control col-md-3 ml-2 mb-3"    
  />
  <a
    class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
    [routerLink]="['../insert']"
    >Add</a>  
  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th (click)="Sort('SettingId')" scope="col">#</th>
        <th (click)="Sort('Name')" scope="col">Name</th>
      </tr>
    </thead>    
    <tbody>
      <tr
        *ngFor="let setting of Settings "
        (dblclick)="doubleClick($event)"
      >
        <td  scope="col"><a routerLink="/edit" [queryParams]="{id: setting.Id}" > {{setting.Id}}</a></td>
        <td  scope="col">{{ setting.Key }}</td>
      </tr>
    </tbody>
  </table>
  <hr/>  
</div>
