<div class=" box-header with-border">
  <input
    [(ngModel)]="searchText"
    placeholder="search text goes here"
    class="form-control col-md-3 ml-2 mb-3"    
  />
    <a
    class="btn btn-success btn-md btn-block col-md-1 ml-2 mb-3"
    [routerLink]="['../insert']"
    >Add</a
  >  
  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th class="hidden-xs" (click)="Sort('OrderId')" scope="col">#</th>
        <th (click)="Sort('CustomerName')" scope="col">Customer Name</th>
        <th (click)="Sort('OrderDate')" scope="col">Order Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let Order of Orders | filter: searchText"
        (dblclick)="doubleClick($event)"
      >
        <td class="hidden-xs"  class="d-none d-sm-block" scope="col">
          <a routerLink="/edit" [queryParams]="{id: Order.OrderId}"  >
          {{Order.OrderId}}</a></td>
        <td  scope="col">{{ Order.Customer.CustomerName }}</td>
        <td  scope="col">{{ Order.OrderDate | date }}</td>
      </tr>
    </tbody>
  </table>
  <hr/>
</div>
