<div class="container mb-3">
  <div class="row ml-1 mr-1 mt-3 mb-5 text-light ">
    <button class="btn bg-secondary  btn-block col-md-3" [routerLink]="['../index']">
      back
    </button>
  </div>

  <div class="mb-3">
    <label for="Product.Name">Name:</label>
    <input class="form-control" id="Product.Name" name="Product.Name" type="text" [(ngModel)]="Product.Name" />
  </div>
  <div class="mb-3">
    <label for="Product.Title">Title:</label>
    <input class="form-control" id="Product.Title" name="Product.Title" type="text" [(ngModel)]="Product.Title" />
  </div>
  <div class="mb-3">
    <label for="Product.Description">Description:</label>
    <input class="form-control" id="Product.Description" name="Product.Description" type="text" [(ngModel)]="Product.Description" />
  </div>
 
  <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
  <div class="row">
    <div class="col-md-3 mb-3">
      <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="Cancel()">
        Cancel
      </button>
    </div>
    <div class="col-md-3 mb-3">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="ConfirmDelete()">
        Delete
      </button>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-success btn-lg btn-block" type="button" value="Save" (click)="Save(Product)">
        Save
      </button>
    </div>
  </div>

</div>
