
@{
    ViewData["Title"] = "Boxes";
    Layout = "_BoxIndex";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-root></app-root>

</div><script src="runtime-es5.8f24ffed1c06a6510470.js"  nomodule></script><script src="runtime-es2015.ca84bb782683800d794b.js"  type="module"></script><script src="polyfills-es5.4d0e6fec21621d67bddf.js"  nomodule></script><script src="polyfills-es2015.48e56281dbb5e4cc2654.js"  type="module"></script><script src="main-es5.c7ab8e79481ba08a6f1f.js"  nomodule></script><script src="main-es2015.419ae009a7dff6994548.js"  type="module"></script><link rel="stylesheet" href="styles.c2c2a15073a83e6533bf.css" >