<div class="container mb-3">
  <div class="row ml-1 mr-1 mt-3 mb-5 text-light ">
    <button class="btn bg-secondary  btn-block col-md-3" [routerLink]="['../home']">
      back
    </button>
  </div>
  <div class="table ml-3">
    <div class="row">
      <mat-form-field class="col">
        <input type="text" class="col ml-1" name="leave.Vendor.VendorId" placeholder="Vendor Id"
          [formControl]="VendorControl" matInput [(ngModel)]="leave.Vendor.VendorId" [matAutocomplete]="auto" />
        <label>{{ leave.Vendor.VendorName }}</label>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of vendorFilteredOptions | async" (click)="UpdateVendor(option)"
            [value]="option.VendorId">
            {{ option.VendorName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="col">
        <input class="col ml-1" matInput [matDatepicker]="startpicker" [(ngModel)]="leave.LeaveStartDate"
          placeholder="Leave Date" />
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="col">
        <input class="col ml-1" matInput [matDatepicker]="endpicker" [(ngModel)]="leave.LeaveEndDate"
          placeholder="Leave Date" />
        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
        <mat-datepicker #endpicker></mat-datepicker>
      </mat-form-field>

    </div>
    <div class="row">
     <div class="form-group col">
        <label for="leave.Description">Description:</label>
        <textarea class="form-control" rows="5" name="leave.Description" id="leave.Description"
          [(ngModel)]="leave.Description"></textarea>
      </div>
    </div>
  </div>

  <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
  <div class="row">
    <div class="col-md-2 mb-3">
      <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="Cancel()">
        Cancel
      </button>
    </div>
    <div class="col-md-2 mb-3">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="ConfirmDelete()">
        Delete
      </button>
    </div>


    <div class="col-md-2 mb-3">
      <button class="btn btn-success btn-lg btn-block" type="button" value="Save" (click)="Save(leave)">
        Save
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="saving"></span>
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div *ngIf="deletemodal"  class="modal-backdrop fade show"></div>
<div  *ngIf="deletemodal" id="exampleModalCenter" class="modal fade show"  tabindex="-1" role="dialog"
  style="display: block; padding-right: 12px;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="CloseModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="Delete()">Yes</button>
      </div>
    </div>
  </div>
</div>