<div class="container mb-3">
  <div class="row ml-1 mr-1 mt-3 mb-5">
    <a class="btn bg-secondary  btn-block col-md-3 text-light " (click)="Cancel()">back</a>
  </div>
  <form>
    <div class="mb-3">
      <label for="pallet.PalletId">Pallet Id:</label>
      <input class="form-control" id="pallet.PalletId" name="pallet.PalletId" type="text"
        [(ngModel)]="pallet.PalletId" />
    </div>
    <div class="mb-3">      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" (click)="showWareHouseOptions= !showWareHouseOptions">
          {{pallet.Warehouse}}
        </button>
        <div   *ngIf="showWareHouseOptions" class="dropdown-menu show" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" *ngFor="let warehouse of warehouses" (click)="Warehouse(warehouse)" >{{warehouse}}</a>
        </div>
      </div>
      
    </div>
    <div class="mb-3">
      <label for="pallet.PalletNumber">Pallet Number:</label>
      <input class="form-control" id="pallet.PalletNumber" name="pallet.PalletNumber" type="text"
        [(ngModel)]="pallet.PalletNumber" />
    </div>

    <div class="mb-3">
      <label for="pallet.Barcode">Barcode:</label>
      <input class="form-control" id="pallet.Barcode" name="pallet.Barcode" type="text" [(ngModel)]="pallet.Barcode" />
    </div>
    <div class="mb-3">
      <label for="pallet.Barcode">Lot:</label>
      <input class="form-control" id="pallet.Lot" name="pallet.Lot" type="text" [(ngModel)]="pallet.Lot" />
    </div>
    <div class="mb-3">
      <label for="pallet.YarnType">Yarn Type:</label>
      <input class="form-control" id="pallet.YarnType" name="pallet.YarnType" type="text"
        [(ngModel)]="pallet.YarnType" />
    </div>
    <div class="mb-3">
      <label for="pallet.Denier">Denier:</label>
      <input class="form-control" id="pallet.Denier" name="pallet.Denier" type="text" [(ngModel)]="pallet.Denier" />
    </div>
    <div class="mb-3">
      <label for="pallet.Filament">Filament:</label>
      <input class="form-control" id="pallet.Filament" name="pallet.Filament" type="text"
        [(ngModel)]="pallet.Filament" />
    </div>
    <div class="mb-3">
      <label for="pallet.Lustre">Lustre:</label>
      <input class="form-control" id="pallet.Lustre" name="pallet.Lustre" type="text"
        [(ngModel)]="pallet.Lustre" />
    </div>
    <div class="mb-3">
      <label for="pallet.Intermingle">Intermingle:</label>
      <input class="form-control" id="pallet.Intermingle" name="pallet.Intermingle" type="text"
        [(ngModel)]="pallet.Intermingle" />
    </div>
    <div class="mb-3">
      <label for="pallet.Color">Color:</label>
      <input class="form-control" id="pallet.Color" name="pallet.Color" type="text" [(ngModel)]="pallet.Color" />
    </div>
    <div class="mb-3">
      <label for="pallet.PalletName">Color Code:</label>
      <input class="form-control" id="pallet.ColorCode" name="pallet.ColorCode" type="text"
        [(ngModel)]="pallet.ColorCode" />
    </div>
    <div class="mb-3">
      <label for="pallet.PalletName">Bobbin Size:</label>
      <input class="form-control" id="pallet.BobbinSize" name="pallet.BobbinSize" type="text"
        [(ngModel)]="pallet.BobbinSize" />
    </div>
    <div class="mb-3">
      <label for="pallet.Weight">Weight:</label>
      <input class="form-control" id="pallet.Weight" name="pallet.Weight" type="number" [(ngModel)]="pallet.Weight" />
    </div>
    <div class="mb-3">
      <label for="pallet.Price">Price:</label>
      <input class="form-control" id="pallet.Price" name="pallet.Price" type="number" [(ngModel)]="pallet.Price" />
    </div>
    <div class="mb-3">
    <label for="pallet.RemainWeight">Remain Weight:</label>
      <input class="form-control" id="pallet.RemainWeight" name="pallet.RemainWeight" type="number"
        [(ngModel)]="pallet.RemainWeight" />
    </div>
    <div class="mb-3">
      <label for="pallet.Weight">Number of items:</label>
      <input class="form-control" id="pallet.NumberOfItems" name="pallet.NumberOfItems" type="number" [(ngModel)]="pallet.NumberOfItems" />
    </div>
    <div class="mb-3">
      <label for="pallet.RemainingItems">Remainng number of Items:</label>
      <input class="form-control" id="pallet.RemainingItems" name="pallet.RemainingItems" type="number"
        [(ngModel)]="pallet.RemainingItems" />
    </div>
    <div class="mb-3">
      <label for="pallet.Title">Title:</label>
      <input class="form-control" id="pallet.Title" name="pallet.Title" type="text" [(ngModel)]="pallet.Title" />
    </div>
    <div class="mb-3">
      <label for="pallet.Details">Details:</label>
      <input class="form-control" id="pallet.Details" name="pallet.Details" type="text"
        [(ngModel)]="pallet.Details" />
    </div>    
        <div class="mb-3">
      <label for="pallet.Sold">Sold:</label>
      <input id="pallet.Sold" class="ml-3" name="pallet.Sold" type="checkbox" [(ngModel)]="pallet.Sold"
        ng-checked="pallet.Sold" />
    </div>
    <div class="mb-3">
      <label for="pallet.IsDelivered">Delivered:</label>
      <input id="pallet.IsDelivered" class="ml-3" name="pallet.IsDelivered" type="checkbox" [(ngModel)]="pallet.IsDelivered"
        ng-checked="pallet.IsDelivered" />
    </div>
    <div class="mb-3">
      <label for="pallet.DeliveryDate">Delivered on:</label>
      <input id="pallet.DeliveryDate" class="ml-3 form-control" name="pallet.DeliveryDate" type="date" [ngModel]="pallet.DeliveryDate | date:'yyyy-MM-dd'"
        ng-checked="pallet.DeliveryDate" />
    </div>
    <p>Thumbnail:</p>
    <img src="/api/AwsStorage/DownloadFile/{{pallet.ThumbnailImage}}" alt ="Product image"/>
    <p>Image:</p>
    <form [formGroup]="form" (ngSubmit)="OnUploadFile('image')">
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
      </div>
      <button type="submit" class="btn btn-success">Upload <span class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true" *ngIf="uploading"></span></button>
    </form>      
    <img src="/api/AwsStorage/DownloadFile/{{pallet.Image}}" alt ="Product image"/>

    <div class="mb-3">
      <label for="pallet.Sold">Is available for online sale:</label>
      <input id="pallet.IsOnlineProduct" class="ml-3" name="pallet.IsOnlineProduct" type="checkbox" [(ngModel)]="pallet.IsOnlineProduct"
        ng-checked="pallet.IsOnlineProduct" />
    </div>

    <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
    <div class="row">
      <div class="col-md-3 mb-3">
        <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="Cancel()">
          Cancel
        </button>
      </div>
      <div class="col-md-3 mb-3">
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="ConfirmDelete()">
          Delete
        </button>
      </div>
      <div class="col-md-3 mb-3">
        <button class="btn btn-success btn-lg btn-block" type="button" value="Save" (click)="Save(pallet)" [attr.disabled]="saving ? '' : null">
          Save
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="saving"></span>
        </button>
      </div>
    </div>
  </form>
</div>
<!-- Modal -->
<div *ngIf="deletemodal"  class="modal-backdrop fade show"></div>
<div *ngIf="deletemodal" id="exampleModalCenter" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; padding-right: 12px;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="CloseModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <p *ngIf="cannotDelete" class="mr-2 text-danger">Can not delete this pallet. because there is an invoice or box attached to this.</p>      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="Delete()">Yes</button>
      </div>      
    </div>
  </div>
</div>