
@{
    ViewData["Title"] = "Products";
    Layout = "_ProductIndex";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <app-root></app-root>

</div><script src="runtime-es5.8f24ffed1c06a6510470.js"  nomodule></script><script src="runtime-es2015.ca84bb782683800d794b.js"  type="module"></script><script src="polyfills-es5.4d0e6fec21621d67bddf.js"  nomodule></script><script src="polyfills-es2015.48e56281dbb5e4cc2654.js"  type="module"></script><script src="main-es5.37aea82eb24a4ff07e52.js"  nomodule></script><script src="main-es2015.b21c7b2f96cb121bf815.js"  type="module"></script><link rel="stylesheet" href="styles.b98c558e91e1a6dad902.css" >