<div class="container mb-3">
  <div class="row ml-1 mr-1 mt-3 mb-5 text-light ">
    <button class="btn bg-secondary  btn-block col-md-3" (click)="Cancel()">
      back
    </button>
  </div>
  <div class="table ml-3">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control ml-1 " name="StateInvoiceNumber" placeholder="State Invoice Number"
          matInput [(ngModel)]="invoice.StateInvoiceNumber" />
      </div>
      <div class="col">
        <input type="text" class="form-control ml-1 " name="invoice.ProformaId" placeholder="Proforma Id"
          matInput [(ngModel)]="invoice.ProformaId" ngDefaultControl />
      </div>
      <div class="col">
        <div class="d-group mb-3">
          <input type="text" class="form-control col-lg" aria-label="Sizing example input"
            [(ngModel)]="customerSearchText" (keyup)="customerSearchChange()" (click)="customerSearchChange()"
            aria-describedby="inputGroup-sizing-default" placeholder="Select a customer">
          <input type="hidden" name="invoice.Customer.CustomerId" id="invoice.Customer.CustomerId"
            [ngModel]="invoice.Customer.CustomerId" />
        </div>
        <ul [ngClass]="customerAutocomplete">
          <li *ngFor="let customer of customers  | filter: customerSearchText" class="list-group-item"
            (click)="AddCustomer(customer.CustomerId)" href="#">{{ customer.CustomerName }} </li>
        </ul>
      </div>
      <input class="col form-control" type="date" [ngModel]="invoice.InvoiceDate| date:'yyyy-MM-dd'"
        (ngModelChange)="invoice.InvoiceDate = $event" />



    </div>
  </div>
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Deduct from all pallets' prices:</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="palletDiscount" />
      <div class="input-group-append">
        <input type="button" class="btn btn-secondary" (click)="ApplyDiscount()" value="Apply" />
      </div>
    </div>
  </div>
  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-sm-block" scope="col">#</th>
        <th scope="col">Pallet Number</th>
        <th class="d-none d-sm-block" scope="col">Barcode</th>
        <th scope="col">Pallet Name</th>
        <th scope="col">Weight</th>
        <th class="d-none d-sm-block" scope="col">Remaining Weight</th>
        <th scope="col">Sold weight</th>
        <th scope="col">Price</th>
        <th scope="col">Delivered</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoicePallet of invoicePallets ">
        <td class="d-none d-sm-block"><a href="/Pallet/Index/#/edit?id={{ invoicePallet.Pallet.PalletId }}">{{
            invoicePallet.Pallet.PalletId }}</a></td>
        <td>{{ invoicePallet.Pallet.PalletNumber }}</td>
        <td class="d-none d-sm-block">{{ invoicePallet.Pallet.Barcode }}</td>
        <td><span name="details">{{ invoicePallet.Pallet.YarnType }} {{invoicePallet.Pallet.Denier}} {{invoicePallet.Pallet.Filament}}
          {{invoicePallet.Pallet.Intermingle}} {{invoicePallet.Pallet.ColorCode}} {{invoicePallet.Pallet.BobbinSize}}
          </span>
        </td>
        <td>{{ invoicePallet.Pallet.Weight }}</td>
        <td class="d-none d-sm-block">{{ invoicePallet.Pallet.RemainWeight }}</td>
        <td><input class="form-control" name="weight" type="number" step="0.0001" [(ngModel)]="invoicePallet.Weight" /></td>
        <td><input class="form-control" name="price" type="number" step="0.0001" [(ngModel)]="invoicePallet.Pallet.Price" /></td>
        <td><input class="form-control" type="checkbox" [(ngModel)]="invoicePallet.Pallet.IsDelivered"
            ngDefaultControl /></td>
        <td><input class="btn btn-danger float-xl-right" (click)="RemoveItem(invoicePallet)" type="button" value="X" />
        </td>
      </tr>
      <tr>
        <td colspan="10">
          <div class="input-group mb-3">
            <input type="text" class="form-control col-lg" aria-label="Sizing example input"
              [(ngModel)]="palletSearchText" (keyup)="palletSearchChange()" (click)="palletSearchChange()"
              aria-describedby="inputGroup-sizing-default" placeholder="Add new pallet">
          </div>
          <ul [ngClass]="palletAutocomplete">
            <li *ngFor="let palletOption of pallets  | filter: palletSearchText" class="list-group-item"
              (click)="AddPallet(palletOption.PalletId)" href="#">{{ palletOption.PalletNumber }} {{ palletOption.Barcode }} {{ palletOption.YarnType }}
              {{palletOption.Denier}} {{palletOption.Filament}}
              {{palletOption.Intermingle}} {{palletOption.ColorCode}} {{palletOption.BobbinSize}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Deduct from all boxes' prices:</span>
      </div>
      <input type="number" class="form-control" [(ngModel)]="boxDiscount" />
      <div class="input-group-append">
        <input type="button" class="btn btn-secondary" (click)="ApplyDiscount()" value="Apply" />
      </div>
    </div>
  </div>

  <table class="table table-striped able-sm mt-2">
    <thead class="thead-dark">
      <tr>
        <th class="d-none d-sm-block" scope="col">#</th>
        <th scope="col">Barcode</th>
        <th scope="col">Box Name</th>
        <th scope="col">Weight</th>
        <th class="d-none d-sm-block" scope="col">Remaining Weight</th>
        <th scope="col">Sold weight</th>
        <th scope="col">Price</th>
        <th scope="col">Delivered</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoiceBox of invoiceBoxes ">
        <td class="d-none d-sm-block"><a href="/Box/Index/#/edit?id={{ invoiceBox.Box.BoxId }}">{{ invoiceBox.Box.BoxId
            }}</a></td>
        <td>{{ invoiceBox.Box.Barcode }}</td>
        <td><span name="details">{{ invoiceBox.Box.YarnType }} {{invoiceBox.Box.Denier}} {{invoiceBox.Box.Filament}}
          {{invoiceBox.Box.Intermingle}} {{invoiceBox.Box.ColorCode}} {{invoiceBox.Box.BobbinSize}} </span></td>
        <td>{{ invoiceBox.Box.Weight }}</td>
        <td class="d-none d-sm-block">{{ invoiceBox.Box.RemainWeight }}</td>
        <td><input class="form-control" name="weight" type="number" step="0.0001" [(ngModel)]="invoiceBox.Weight" /></td>
        <td><input class="form-control" name="price" type="number" step="0.0001" [(ngModel)]="invoiceBox.Box.Price" /></td>
        <td><input class="form-control" type="checkbox" [(ngModel)]="invoiceBox.Box.IsDelivered" ngDefaultControl />
        </td>
        <td><input class="btn btn-danger float-xl-right" (click)="RemoveBoxItem(invoiceBox)" type="button" value="X" />
        </td>
      </tr>
      <tr>
        <td colspan="10">
          <div class="input-group mb-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control col-lg" aria-label="Sizing example input"
                [(ngModel)]="boxSearchText" (keyup)="searchChange()" (click)="searchChange()" placeholder="Add box"
                aria-describedby="inputGroup-sizing-default">
            </div>
          </div>
          <ul [ngClass]="boxautocomplete">
            <li *ngFor="let boxOption of boxes  | filter: boxSearchText" class="list-group-item"
              (click)="AddBox(boxOption.BoxId)" href="#">{{ boxOption.Barcode }} {{ boxOption.YarnType }}
              {{boxOption.Denier}} {{boxOption.Filament}}
              {{boxOption.Intermingle}} {{boxOption.ColorCode}} {{boxOption.BobbinSize}}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container bg-light">
    <form [formGroup]="form" (ngSubmit)="OnUploadFile()">
      <div class="form-group">
        <label for="fatura">Fatura</label>
        <input type="file" id="fatura" (change)="onFileChange($event)" #fileInput>
      </div>
      <button type="submit" class="btn btn-success">Upload <span class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true" *ngIf="uploading"></span></button>
    </form>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>File name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files ">
          <td><a href="/api/AwsStorage/DownloadFile/{{file.File.FileName}}" target="blank"
              download>{{file.File.FileName}}</a></td>
          <td><input class="btn btn-danger float-xl-right" (click)="RemoveFileItem(file)" type="button" value="X" />
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="official-invoice" [(ngModel)]="invoice.HasOfficialInvoice">
      <label class="form-check-label" for="official-invoice">Official invoice uploaded</label>
    </div>
  </div>
  <div class="container mt-2 mb-2">
    <label>KDV %:</label>
    <input id="tax-rate" type="number" class="ml-1 form-control" name="invoice.KDV" placeholder="KDV"
      [(ngModel)]="invoice.Kdv" />
    <label>Discount:</label>
    <input type="number" class="ml-1 form-control" name="invoice.Discount" placeholder="Discount"
      [(ngModel)]="invoice.Discount" />
    <label> European Central Bank Rate:</label>
    <p>{{ExternalExchangeRate}}</p>
    <label class="mt-2">Exchange Rate:</label>
    <input id="exchange-rate" type="number" class="ml-1 " class="ml-1 form-control" placeholder="Exchange Rate"
      [(ngModel)]="ExchangeRate" />
    <div *ngIf="ExternalExchangeRate -ExchangeRate > 0.1" class="mt-2 alert alert-danger" role="alert">
          Rate is very different from the european centeral bank
    </div>
    <div class="table">
      <div class="container mt-2 mb-2">
        <div class="row">
          <div class="col">
            <label>KDV:</label><label class="ml-3">{{Tax | number:'1.2-3'}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <label>Total USD:</label><label class="ml-3">{{TotalUsd | number:'1.2-3'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Total Lira:</label><label class="ml-3">{{TotalLira | number:'1.2-3'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Total Sold Weight:</label><label class="ml-3">{{TotalSoldWeight | number:'1.2-3'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Number of boxes:</label><label class="ml-3">{{NumberOfBoxes | number:'1.2-3'}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Number of pallets:</label><label class="ml-3">{{NumberOfPallets | number:'1.2-3'}}</label>
          </div>
        </div>
      </div>
      <div class="container bg-light">
        <h3>Payments</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Amount</th>
              <th>Exchange Rate</th>
              <th>Payment Date</th>
            </tr>
          </thead>

          <tbody>

            <tr *ngFor="let payment of invoice.Payments">
              <td><input class="form-control" type="number" [(ngModel)]="payment.Amount" /></td>
              <td><input class="form-control" type="number" [(ngModel)]="payment.ExchangeRate" /></td>
              <td><input class="form-control" type="date" [ngModel]="payment.PaymentDate | date:'yyyy-MM-dd'"
                  (ngModelChange)="payment.PaymentDate = $event" /></td>
              <td><input type="button" class="btn btn-danger" (click)="RemovePayment(payment)" value="-" /></td>
            </tr>
            <tr>
              <td><input class="form-control" type="number" [(ngModel)]="newInvoicePayment.Amount"  /></td>
              <td><input class="form-control" type="number" [(ngModel)]="newInvoicePayment.ExchangeRate" /></td>
              <td><input class="form-control" type="date" [ngModel]="newInvoicePayment.PaymentDate"
                  (ngModelChange)="newInvoicePayment.PaymentDate = $event" /></td>
              <td><input type="button" class="btn btn-success" (click)="AddPayment()" value="+" /></td>
            </tr>
          </tbody>
        </table>
        <hr />
        <div class="row">
          <div class="form-check form-check-inline ml-4">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
              [(ngModel)]="invoice.Currency" value="Usd">
            <label class="form-check-label" for="inlineRadio1">Usd</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
              [(ngModel)]="invoice.Currency" value="Lira">
            <label class="form-check-label" for="inlineRadio2">Lira</label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label>Total:</label>
            <input type="number" class="form-control" [(ngModel)]="invoice.Paid" >
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" name="invoice.Comment" id="invoice.Comment"
          [(ngModel)]="invoice.Comment"></textarea>
      </div>
      <div class="form-group">
        <label>Driver name:</label>
        <input type="text" class="ml-1 form-control" name="invoice.DriverName" placeholder="Driver name"
          [(ngModel)]="invoice.DriverName" />
      </div>
      <div class="form-group">
        <label>Truck registration number:</label>
        <input type="text" class="ml-1 form-control" name="invoice.DriverRegistrationNumber"
          placeholder="Truck registration number" [(ngModel)]="invoice.DriverRegistrationNumber" />
      </div>
    </div>
  </div>
  <p class="bg-success p-3 mb-2" *ngIf="showSuccess">Successfully Saved!</p>
  <p class="bg-success p-3 mb-2" *ngIf="showError">Not saved</p>
  <div class="row">
    <div class="col-md-2 mb-3">
      <button class="btn btn-secondary btn-lg btn-block" type="button" (click)="Cancel()">
        Cancel
      </button>
    </div>
    <div class="col-md-2 mb-3">
      <button type="button" class="btn btn-danger btn-lg btn-block" (click)="ConfirmDelete()">
        Delete
      </button>
    </div>
    <div class="col-md-2 mb-3">
      <button class="btn btn-success btn-lg btn-block" type="button" value="Save" (click)="Save(invoice)"
        [attr.disabled]="saving ? '' : null">
        Save
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="saving"></span>
      </button>
    </div>
  </div>
  <div class="row">
    

    <div class="col-md-3 mb-3">
      <a href="{{InvoiceReportUrl}}" class="btn btn-primary btn-lg btn-block" download>
        Download PDF
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <a href="{{ExitReportUrl}}" class="btn btn-primary btn-lg btn-block" download>
        Download Exit Reports
      </a>
    </div>
    <div class="col-md-3 mb-3">
      <button class="btn btn-primary btn-lg btn-block" type="button" (click)="SendEmail()">
        Send Email
      </button>
    </div>
    
  </div>
</div>

<!-- Modal -->
<div *ngIf="deletemodal" class="modal-backdrop fade show"></div>
<div *ngIf="deletemodal" id="exampleModalCenter" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; padding-right: 12px;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="CloseModal()">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="CloseModal()">No</button>
        <button type="button" class="btn btn-danger" (click)="Delete()">Yes</button>
      </div>
    </div>
  </div>
</div>